@charset "UTF-8";

    body {
        background-color: rgb(37, 37, 37);
    }
        
        h1 {color: white;
        text-align: center;}
        
        p {color: white;}
        img {
            text-align: 12em;
        }
        
        

        
      
  